

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <main class="main">
        <div class="container">
            <section class="auth">
                <div class="auth__inner">
                    <img src="./images/auth.svg" alt="">
                    
                    <span class="auth__inner__text">Войдите в игру</span>
                    <form class="auth__form" action="post">
                        <input class="login__input" type="text" placeholder="Логин">
                        <input class="password__input" type="password" placeholder="Пароль">
                        <a class="login__btn" href="rating">Войти</a>
                    </form>
                
                    <div class="data">
                        <% accounts.forEach(function(account){%>
                            <div class="data__item" style="display: none;">
                                <p class="data__login" data-login="<%=account.login%>"></p>
                                <p class="data__password" data-password="<%=account.password%>"></p>
                            </div>
                        <%})%>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script>
       const loginBtn=document.querySelector(".login__btn");
       const loginInput=document.querySelector(".login__input");
       const loginInners=document.querySelectorAll(".data__login");
       const passwordInners=document.querySelectorAll(".data__password");
       const passwordInput=document.querySelector(".password__input");
       const passwords=[];
       const logins=[];
       const accounts=[];
       loginInners.forEach(loginInner=>{
        logins.push(loginInner.dataset.login);
       })
       passwordInners.forEach(passwordInner=>{
        passwords.push(passwordInner.dataset.password);
       })

       loginBtn.addEventListener("click",(e)=>{
            e.preventDefault();
            if(checkAccounts(loginInput.value,passwordInput.value)){
                window.location.href = 'rating';
            }else{
                alert("Пользователь не найден!");
            }
        })
    
        function checkAccounts(login,password){
            for(let i=0;i<logins.length;i++){
                if(logins[i]==login && password==passwords[i]){
                    return true;
                }
            }
            return false;
        }
    </script>
</body>
</html>