<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="#" class="logo">
                    <img src="./images/logo.svg" alt="Логотип">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list--item">
                            <a href="#" class="menu__list__link">Игровое поле</a>
                        </li>
                        <li class="menu__list--item">
                            <a href="#" class="menu__list__link active">Рейтинг</a>
                        </li>
                        <li class="menu__list--item">
                            <a href="#" class="menu__list__link">Активные игроки</a>
                        </li>
                        <li class="menu__list--item">
                            <a href="#" class="menu__list__link">История игр</a>
                        </li>
                        <li class="menu__list--item">
                            <a href="#" class="menu__list__link">Список игроков</a>
                        </li>
                    </ul>
                </nav>
                <button class="signout">
                    <img src="./images/signout.svg" alt="">
                </button>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="rating">
            <div class="container">
                <div class="rating__inner">
                    <h5 class="rating__title">
                        Рейтинг игроков
                    </h5>
                    <table class="rating__table" cellspasing="0">
                        <tr class="rating__table__row">
                            <th width="400" class="rating__table__row__head">
                                ФИО
                            </th>
                            <th width="108" class="rating__table__row__head">
                                Всего игр
                            </th>
                            <th width="108" class="rating__table__row__head">
                                Победы
                            </th>
                            <th width="108" class="rating__table__row__head">
                                Проигрыши
                            </th>
                            <th width="134" class="rating__table__row__head">
                                Процент побед
                            </th>
                        </tr>
                        <% rating.forEach(function(rate){ %>
                            <tr class="raiting__table__row">
                                <td class="rating__table__column">
                                    <%=rate.fio%> 
                                </td>
                                <td class="rating__table__column">
                                    <%=rate.games %> 
                                </td>
                                <td class="rating__table__column rating__wins">
                                    <%=rate.wins %> 
                                </td>
                                <td class="rating__table__column rating__lose">
                                    <%=rate.loses %> 
                                </td>
                                <td class="rating__table__column">
                                    <%=Math.round((100/rate.games)*rate.wins)+"%"%> 
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
</body>
</html>
